*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Quicksand", sans-serif;
}

/*---------------Header & Navigation-----------------*/


header nav{
    display: none;
}
header nav ul li{
    list-style-type: none;
}

header nav ul li a{
    text-decoration: none;
    
}

header nav ul li a:active{
    text-decoration: none;
    
}



/*---------------Hovedindhold-----------------*/
h1{
    font-size: 64px bold;
}



/*---------------Footer-----------------*/




/*---------------Responsivitet-----------------*/