*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Quicksand", sans-serif;
}

/*--------------- Header & Navigation -----------------*/

header{
    background-color: #f7f5ec;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav{
    display: none;
}

.logo{
    width: 70px;
    height: 70px;
    margin-top: 0.5em;
    margin-left: 0.5em;
}

#bars{
    font-size: 50px;
    background-color: transparent;
    border: none;
    color: #233D4D;
    display: flex;
    justify-self: right;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    
}

.show{
    display: block;
    position: absolute;
    top: 100px;
    left: 0; 
    background-color: #233D4D;
    width: 100%;
    z-index: 100;
}

.menu{
    list-style: none;
    padding: 1em;
    padding-left: 2em;
}

.menu li a{
    font-size: 32px;
    text-decoration: none;
    color: white;
    line-height: 1.8em;
}
/*--------------- Brødkrummesti -----------------*/
.breadcrumbs{
  display: flex;
  justify-content: flex-start;
  align-content: center;
  color: black;
  padding-left: 0px;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

.breadcrumbs ul {
 display: flex;
}

.breadcrumbs li {
 list-style-type: none;
 padding: 0 0.2em;
 color: black ;
}

.breadcrumbs a {
  text-decoration: none;
}

#hernu{
text-decoration: underline;
}

/*--------------- Hovedindhold til forsiden -----------------*/

body{
  background-color: #f7f5ec;
}

.studierabat{
  background-color: #233D4D;
  color: #f7f5ec;
  text-align: center;
  padding: 0.5em;
  grid-area: studierabat;
}

.banner{
    width: 100%;
    height: 300px;
    background-image: url(../img/bannerbillede2.jpeg);
    background-size: cover;
    position: relative;
    margin-bottom: 20px;
    background-color: #f7f5ec;
}

section{
  margin-bottom: 2em;
}

.velkomst{ 
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    width: 80vw;
    min-height: 120px;
    position: absolute;
    top: 40%;
    left: 10%;
    border-radius: 10px;
}

h1{
    font-size: 65px bold;
    text-align: center;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.banner div p{
    text-align: center;
    padding-bottom: 0.6em;
}

.slogan{
    font-weight: bolder;
    font-size: larger;
}
.eventknap{
    width: 40%;
    height: 35px;
    display: block;
    margin: 10px auto;
    font-size: 1.3em;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: #FE7F2D;
    border: none;
    border-radius: 10px;
    box-shadow: -5px  5px #EE4217;
    padding-top: 0.2em;
  }

.eventknap:active{
    box-shadow: 0px -1px #EE4217;
    transform: translateY(4px);
  }


.cta1{
    width: 40%;
    height: 35px;
    display: block;
    margin: 10px auto;
    font-size: 1.3em;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: #FE7F2D;
    border: none;
    border-radius: 10px;
    box-shadow: -5px  5px #233D4D;
    padding-top: 0.2em;
    margin-top: 30px;
  }

.cta1:active{
    box-shadow: 0px -1px #EE4217;
    transform: translateY(4px);
  }

.cta2{
    width: 40%;
    height: 35px;
    display: block;
    margin: 10px auto;
    font-size: 1.3em;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: #B2CB96;
    border: none;
    border-radius: 10px;
    box-shadow: -5px  5px #233D4D;
    padding-top: 0.2em;
    margin-top: 30px;
  }

.cta2:active{
    box-shadow: 0px -1px #EE4217;
    transform: translateY(4px);
  }

h2{
    padding-top: 0.5em;
    padding-left: 0.5em;
}

.klub{
  padding: 2em;
  grid-area: klub;
}

.cta5{
    width: 40%;
    height: 35px;
    display: block;
    margin: 10px auto;
    font-size: 1.3em;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: #B2CB96;
    border: none;
    border-radius: 10px;
    box-shadow: -5px  5px #233D4D;
    padding-top: 0.2em;
    margin-top: 30px;
    margin-right: 0;
  }

.cta5:active{
    box-shadow: 0px -1px #EE4217;
    transform: translateY(4px);
  }

  .garn{
    background-color: #7FAE9E;
    height: 620px;
    width: 100vw;
    margin-bottom: 20px;
    grid-area: garn;
  }

.garn p{
    padding-left: 0.8em;
}

   .events{
    background-color: #B2CB96;
    height: 600px;
    width: 100vw;
    margin-bottom: 20px;
     grid-area: events;
  }

  .events p{
    padding-left: 0.8em;
}

.gaveideer{
  border-top: dashed;
  border-bottom: dashed;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  grid-area: gaveideer;
}

.gaveideer h2{
  text-align: center;
}

.gaveideer p{
  padding-left: 2em;
  padding-bottom: 2em;
  padding-top: 1em;
}

.sokker{
  width: 100%;
}

.kits{
  background-color: #FBD367;
  height: 640px;
  width: 100vw;
  margin-bottom: 20px;
  grid-area: kits;
}

.kits p{
  padding-left: 0.8em;
}

  .broderi{
    background-color: #FD9753;
    height: 620px;
    width: 100vw;
    margin-bottom: 20px;
    grid-area: broderi;
  }

  .broderi p{
    padding-left: 0.8em;
}
  
.godjul{
  border-top: dashed;
  border-bottom: dashed;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  grid-area: godjul;
}

.godjul h2{
  text-align: center;
}

.godjul p{
  padding-left: 2em;
  padding-bottom: 0.5em;
  padding-top: 1em;
}

.julesok{
  padding-top: 1em;
  width: 100%;
  padding-bottom: 0.5em;
}

  .karusel{
    width: 100%;
    overflow-x: auto;
    margin: 1em auto;
    display: flex;
    gap: 1em;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    anchor-name: --karusel;
    scroll-marker-group: after;  
  }

  .karusel::webkit-scrollbar{ 
    display:none;
  }

  .billeder img{
    height: 340px;
    width: 340px;
  }

  .billeder{
    flex: 0 0 100%;  /*---- OBS ---- skal ændres i desktop version til 0 0 20em*/
    aspect-ratio: 5/3;
    padding: 1em;
    text-align: center;
    align-content: center;
    scroll-snap-align: start;
  }

  .billeder::scroll-marker{
    content:''; 
    height: 1em;
    width: 1em;
    background-color: #233D4D;
    opacity: 0.4;
    border-radius: 50%;
    transform: translateY(-100%);
  }

  .billeder::scroll-marker:target-current{
    opacity: 1;
  }

  .karusel::scroll-marker-group{
    display:flex;
    justify-content: center;
    gap: 1em;
  }
/* content: '→'; */

/*
  .karusel::scroll-button(right){
   
    content: '→'; 
    background-color: #233D4D;
    color: #f7f5ec;
    font-weight: bold;
    text-align: center;
    font-size:1rem;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    position-anchor: --karusel;
    position-area:right center;
    translate: -100%;
  }

  .karusel::scroll-button(left){
    content: '←';
    background-color: #233D4D;
    color: #f7f5ec;
    font-weight: bold;
    text-align: center;
    font-size:1rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    position: fixed;
    position-anchor: --karusel;
    position-area:left center;
    translate: 100%;
  }

  .karusel::scroll-button(right):disabled, .karusel::scroll-button(left):disabled{
    opacity: 0.2;
    cursor: auto;
  }

  /*


/*<i class="fa-solid fa-arrow-left"></i>*/

/*<i class="fa-solid fa-arrow-right"></i>*/

   /*------------------- Hovedindhold til Kalender siden -------------------------*/

.kalenderbanner{
  background-image: url(../img/kalender\ credit\ -\ golubovy.png);
  width: 100%;
  height: 200px;
  background-size: cover;
  position: relative;
  margin-bottom: 20px;
  background-color: #f7f5ec;
}

.kalendertitel{
  text-align: center;
  padding-top: 2.5em;
}

.fællesskab{
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-weight: normal;
}

.garnklub{
  text-align: center;
  font-size: 35px;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.information{
  line-height: 1.5em;
  padding: 0 2em;
  padding-bottom: 0.5em;
}

.information1{
  line-height: 1.5em;
  padding: 0 2em 1em;
}

.detailsgul{
  background-color: #FBD367;
}

summary{
  margin-inline-start: 1rem;
  list-style-position: outside;
  display: flex;
  flex-wrap: nowrap;
}

summary h2{
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

summary i{
  padding-top: 2.2rem;
  padding-left: 0.5rem;
}

summary::marker{
  font-size: 20px;
  margin-left: 2rem;
}

::marker{
  display: none;
}

summary{
  list-style: none;
}

.cta3{
    width: 40%;
    height: 35px;
    display: block;
    margin: 10px auto;
    font-size: 1.3em;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: #B2CB96;
    border: none;
    border-radius: 10px;
    box-shadow: -5px  5px #233D4D;
    padding-top: 0.2em;
    margin-top: 10px;
  }

.cta3:active{
    box-shadow: 0px -1px #EE4217;
    transform: translateY(4px);
  }

  h3{
    padding-top: 0.3em;
  }

  .detailsorange{
    background-color: #FD9753;
  }

    .detailslightgreen{
    background-color: #B2CB96;
  }

  .detailsdarkgreen{
    background-color:#7FAE9E ;
  }

  .cta4{
    width: 40%;
    height: 35px;
    display: block;
    margin: 10px auto;
    font-size: 1.3em;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: #FD9753;
    border: none;
    border-radius: 10px;
    box-shadow: -5px  5px #233D4D;
    padding-top: 0.2em;
    margin-top: 10px;
  }

.cta4:active{
    box-shadow: 0px -1px #EE4217;
    transform: translateY(4px);
  }
/*--------------- Footer -----------------*/
  
footer{
    background-color: #233D4D;
    height: 40em;
}

.footerslogan{
    text-align: center;
    color:  #f7f5ec;
    padding-top: 0.5em;
    font-size: 25px;
    padding-bottom: 2em;
}

footer a{
    display: flex;
    justify-content: right;
    font-size: 60px;
    text-decoration: none;
    color: #f7f5ec;
}

h4{
    padding-top: 1em;
    padding-bottom: 0.5em;
}

footer .info{
    color: #f7f5ec;
    padding-left: 3em;
}

footer .kontakt{
    color: #f7f5ec;
    padding-left: 3em;
    padding-bottom: 2em;
}

address{
    padding-bottom: 0.4em;
}

.some{
    display: flex;
    align-items: center;
    gap: 25px;
    padding-top: 2em;
}

.footerlogo{
    height: 120px;
    width: 120px;
    margin-left: 0.5em;
}

/*--------------------------------------------- Responsivitet -----------------------------------------------------*/


@media screen and (min-width: 426px) {


header ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

header nav ul li{
    list-style-type: none;
    
}

main{
  display: grid;
  grid-template-columns: 1fr  1fr;
  grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr ;
  grid-template-areas:
    "studierabat studierabat"
    "banner banner"
    "klub klub"
    "garn events"
    "gaveideer gaveideer"
    "kits broderi"
    "godjul godjul";
    column-gap: 20px;
    row-gap: 20px;
}

  
}
