*{
    box-sizing: border-box;
    margin: 0;
}

/*---------------Header & Navigation-----------------*/



/*---------------Hovedindhold-----------------*/




/*---------------Footer-----------------*/




/*---------------Responsivitet-----------------*/