*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Quicksand", sans-serif;
}

/*---------------Header & Navigation-----------------*/



/*---------------Hovedindhold-----------------*/
h1{
    font-size: 64px bold;
}



/*---------------Footer-----------------*/




/*---------------Responsivitet-----------------*/